*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

.main-block{
   background: rgba(8, 8, 8, 0.8);
    height: 100vh;
    
}

.first-block{
   
   height: 100vh;
   padding-top: 140px;
   /*border: 2px solid rgb(255, 0, 98) ;*/
}
.first-block .container{
   
  /*  border: 2px solid blue;*/
}
.text2 img{
    width: 600px;
    height: 400px;
    padding-top: 40px;
}
.more-text{
    display: flex;
    justify-content: space-evenly;
    align-items:last center;
}

.container .text{
 
    color: aliceblue;
    text-align: center;
    
   
}
/*.container button{
 
  
  position: relative;
  z-index: 2;

    left: 40%;
    width: 300px;
    height: 60px;
   
    
   
}*/
.container .buttn, .fd{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  border-radius: 30px;
      left: 40%;
      width: 300px;
      height: 60px;
}


.text h1{
    font-size: 60px;
    font-weight: bold;
}
.text h2{
    font-size: 40px;
}
.more-text{
    z-index: 1;
}
.more-text .text1{
    display: block;
    width: 200px;
    color: aliceblue;
}
.text2 img{
    width: 300px;
    
    padding-bottom: 60px;
}


.second-block{
    background: rgba(8, 8, 8, 0.8);
    height: 100vh;
    padding-top: 80px;
   /* border: 2px solid lime ;*/
    color: aliceblue;

}

.myserve .serve1,.p-serve{
    margin-left: 170px;
    margin-bottom: 10px;
}

.second-block .myserve{
    display: flex;
    align-items: center;
}
.myserve h1{
    font-size: 50px;
    font-weight: bolder;
}



.second-block .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   /* border: 2px solid blue;*/
}
.container .blok{
    width: 450px;
    height: 500px;
    background-color:rgba(116, 113, 113, 0.5);
    border-radius: 30px;
    border: 3px solid aliceblue ;
}
.blok .img1{
    width: 300px;
    height: 300px;
    background-color: rgba(116, 113, 113, 0.5);
    margin: auto;
    margin-top: 80px;
    border-radius: 30px;
}
.blok .dot{
    width: 70px;
    height: 40px;
    background-color: rgb(203, 224, 19);
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    
}
.role-text{
    border-bottom: 2px solid rgb(238, 237, 234);
   
}
.role-text{
    text-align: center;
    font-size: 40px;
    
    
}

.third-block{
     background: rgba(78, 65, 65, 0.8);
    height: 100vh;

}

.fourth-block{
    background: rgba(8, 8, 8, 0.8);
    height: 100vh;
    padding-top: 80px;
    /*border: 2px solid lime ;*/

}

.fourth-block .container{
   
   /* border: 2px solid blue;*/
    
}
 .work-exp h1{
    font-size: 60px;
    margin-left: 35%;
    color: aliceblue;
    font-weight: bold;
}

.work-exp .roles{
    display: flex;
    justify-content: space-between;

    
}
.circle img{
    width: 200px;
    margin-top: 130px; 

}

.work-exp .roles{
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255,0.3);
   padding: 20px;
    border-radius: 30px;
    border: 2px solid aliceblue;
    color: aliceblue;
   /* filter: blur(25px);*/
}
.jobs p{
    padding-bottom: 55px;
}

.jobs h4{
   
    font-weight: bold;
}


.jobs .circle{
    width: 100px;
    height: 100%;
    position: relative;
    /*background-color: rgb(201, 232, 153);*/

}
.jobs h4{
    margin-bottom: 0px;
    font-size: 30px;
}


.fifth-block{
   background: rgba(8, 8, 8, 0.8);
    height: 100vh;
    padding-top: 80px;
    /*border: 2px solid lime ;*/

}

.container .hire{
    width: 50%;
    height: 580px;
    /*background-color: azure;*/
}
.container .hires{
    width: 50%;
    height: 580px;
    /*background-color: azure;*/
}


.fifth-block .container{
    display: flex;
    align-items: center;
    gap: 30px;
    /*border: 2px solid blue;*/
    color: aliceblue;
}

.hire .why{
    font-size: 50px;
    font-weight: bold;
}
.hire .para{
    display: block;
    width: 300px;
    font-size: 16px;
}
.hire .why, .para,.para-font,.jobing{
    padding-bottom: 20px;
}
h4 strong{
    font-size: 30px;
}
h4 .para-font{
    font-size: 14px;
    font-weight: 300;
}
.hires{
   margin-bottom: 50px;
}


.fnth-block{
    background: rgba(8, 8, 8, 0.8);
   height: 110vh;
 
  /* border: 2px solid lime ;*/
}

.hire button{
    width: 150px;
    height: 80px;
    font-size: 30px;
}



.fnth-block .container{
 padding-bottom: 20px;
 margin-top: 0px;
   /* border: 2px solid blue;*/
}
.porty button{
    height: 50px;
    width: 80px;
}

.porty .minus{
   font-size: 40px;
   color: aliceblue;
   font-weight: bolder;
}
.container .porty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
   /* background-color: aliceblue;*/
}

.container .screens{
    width: 100%;
    height: 400px;
    /*background-color: aliceblue;*/
}
.show1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.show1 .firstOne{
  
    width: 380px;
    height: 240px;
    background-color: black;
}
.screens .blocks{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: blueviolet;
}
.blocks{
    font-size: 14px;
    padding: 5px;
    color: aliceblue;
   
}
.blocks p{
  margin-left: 10px;
   
}
.landings{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.proj-description{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
    color: aliceblue;
 
}






.nth-block{
    background: rgba(8, 8, 8, 0.8);
   height: 100vh;
   padding-top: 30px;
   /*border: 2px solid lime ;*/
   margin-top: 313px;
}
.nth-block .container{
   
    /*border: 2px solid blue;*/
   
}
.container .bloggy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   /* background-color: brown;*/
    gap: 20px;
    padding: 10px;
}

.bloged{
    width: 400px;
    height: 500px;
    /*background-color: aquamarine;*/
    border-radius: 20px;
    color: aliceblue;
}
.bloged img{
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text-blog h4{
    font-weight: bold;
    

}
.bloged .new-btn{
    width: 50px;
    height: 50px;
   /* background-color: blue;*/
    position: absolute;
    margin-top: 470px;
    margin-left: 330px;
    border-radius: 100%;
}

 

.visitor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.visitor h1{
    font-weight: bolder;
}
.visitor button{
    width: 180px;
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
    
}



/*-----------------*/
.footer{
    background: rgba(8, 8, 8, 0.8);
   height: 100vh;
   padding-top: 30px;
   /*border: 2px solid lime ;*/
}
.footer .container{
   
   /* border: 2px solid blue;*/
}
.container .feet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    width: 100%;
    height: 60px;
    /*background-color: aliceblue;*/
    margin-bottom: 10px;
}

.container .feet1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
   /* background-color: aliceblue;*/
    margin-bottom: 10px;
    color: aliceblue;

}
.feet1 h1{
    color: rgb(169, 182, 156);
    font-weight: bolder;
}

.container .feet2{
    display: flex;
    justify-content:center;
    
    width: 100%;
    height: 300px;
    gap: 100px;
    /*background-color: aliceblue;*/
    margin-bottom: 10px;
    color: aliceblue;
}
.funx{
    font-size: 20px;
}
.funx1{
    font-size: 18px;
}
.funx h3{
    color: chartreuse;
}


.funny-texts .p1{
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;

}
.favs{
    display: flex;
    
    align-items: center;
    gap: 30px;
}
.butty{
    width: 200px;
    height: 50px;
    font-size: 40px;
}

/*---------------------*/




.nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: auto;
   padding-top:20px ;
   padding-right: 0;
   background-color: rgb(243, 242, 245);
   color: aliceblue;
   position: fixed;
   z-index: 4;

}



.nav .names{
    padding-right: 550px;
    left: 0;
    color: black;
}





/*--------------ANIM------------*/




/*-------------------------------------------*/




/*--------------*/






.contact span{
    width: 30px;
    height: 30px;
    background-color: rgb(113, 202, 240);
    border-radius: 50%;
    margin-top: 93px;
}
.nav span{
    width: 30px;
    height: 30px;
    background-color: rgb(113, 202, 240);
    border-radius: 50%;
    margin-right: 550px;
    left: 0;
   
}


/*responsive*/

@media only screen and (max-width: 1920px) {
  body {
    background-color: lightblue;
  }
  /*nth-block*/


/*-----------------*/
}
@media only screen and (max-width: 720px) {


    /*first-block*/
    .fifth-block{
      
    }
    .first-block .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
       
    }
    .container .text, .more-text, .buttn{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
  
    .text h1{
        font-size: 30px;
        font-weight: bold;
    }
    .text h2{
        font-size: 20px;
    }

    .more-text .text1{
        text-align: center;
    }

    .text2 img{
        
        
        padding-bottom: 0px;
    }

    .container .buttn, .fd{
      
        z-index: 2;
      border-radius: 30px;
        left: auto;
          width: 150px;
          height: 30px;
    }

    /*-----*/

     /*second-block*/
    .second-block{
        padding-top: 680px;
    }
     .second-block, .myserve, .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myserve h1{
        font-size: 20px;
        font-weight: bolder;
    }

    .container .blok{
        width: 225px;
        height: 250px;
        background-color:rgba(116, 113, 113, 0.5);
        border-radius: 10px;
        border: 2px solid aliceblue ;
    }

    .blok .img1{
        width: 150px;
        height: 150px;
        background-color: rgba(116, 113, 113, 0.5);
        margin: auto;
        margin-top: 40px;
        border-radius: 10px;
    }

    .blok .dot{
        width: 35px;
        height: 20px;
        background-color: rgb(203, 224, 19);
        margin: auto;
        margin-top: 2.5px;
        border-radius: 5px;
        
    }
    .role-text{
        text-align: center;
        font-size: 20px;
        
        
    }


    /*----*/

     /*fourth-block*/
     .fourth-block{
        padding-top: 680px;
     }
    
     
     .work-exp h1{
        font-size: 30px;
        margin-left: 35%;
        color: aliceblue;
        font-weight: bold;
    }

   

    .work-exp .roles{
        
        width: 100%;
        height: 300px;
        background-color: rgba(255, 255, 255,0.3);
       padding: 10px;
        border-radius: 10px;
        border: 2px solid aliceblue;
        color: aliceblue;
       /* filter: blur(25px);*/
    }
    .jobs p{
        padding-bottom: 25px;
        font-size: 12px;
        display: block;
    }
    
    .jobs .circle{
        width: 70px;
        height: 70px;
        position: relative;
        /*background-color: rgb(201, 232, 153);*/
    
    }

    .circle img{
    width: 70px;
    margin-top: 130px; 

}
    .jobs h4{
        margin-bottom: 0px;
        font-size: 10px;
    }
  


    /*----*/

     /*fifth-block*/
     .fifth-block{
        padding-top: 180px;
        height: 100vh;
     }
     
.fifth-block .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /*border: 2px solid blue;*/
    color: aliceblue;
}
  .hire .why{
    font-size: 20px;
    font-weight: bold;
}
.hire .para{
    display: block;
    width: auto;
    font-size: 12px;
}
.hire .jobing{
    font-size: 12px;
}


.hire .para-font{
    font-size: 12px;
}
.hire button{
    width: 100px;
    height: 30px;
    font-size: 12px;
}
    
     /*-------*/


    /*fnth-block*/

    
     .container .screens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 165px;


     }
     .show1{
        flex-direction: column;

     }
.container .porty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
   padding-bottom: 20px;
   
   /* background-color: aliceblue;*/
}
.porty .minus{
   font-size: 20px;
   color: aliceblue;
   font-weight: bolder;
}
.porty button{
    height: 30px;
    width: 70px;
    font-size: 12px;
}


    /*----*/
    /*nth-block*/
    .nth-block{
        background: rgba(8, 8, 8, 0.8);
       height: 100vh;
       padding-top: 30px;
       /*border: 2px solid lime ;*/
       margin-top: 318px;
    }
     .container .bloggy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


     }
     
.visitor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    gap: 40px;
}
.visitor h1{
    font-weight: bolder;
    font-size: 24px;
}
.visitor button{
    width: 100px;
    height:40px;
    border-radius: 5px;
    font-size: 18px;
    
}

.bloged .new-btn{
    width: 40px;
    height: 40px;
   /* background-color: blue;*/
    position: absolute;
    margin-top: 470px;
    margin-left: 330px;
    border-radius: 100%;
}

.container .bloggy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   /* background-color: brown;*/
    gap: 40px;
    padding: 10px;
}


    /*---------*/

    /*Feet*/
    .footer{
        background: rgba(8, 8, 8, 0.8);
       height: 200vh;
      
       
       /*border: 2px solid lime ;*/
    }
    .footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 880px;
        

     }
     .feet1 h1{
        font-size: 24px;
     }

     .feet1 .butty{
        font-size: 12px;
        width: 100px;
        height: 40px;
     }
     .funny-texts .p1{
        font-size: 14px;
        display: flexbox;
        width: 200px;
        height: 180px;
     }
     .funx, .funx1{
        font-size: 12px;
     }
    
     .container .feet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        gap: 40px;
       
        /*background-color: aliceblue;*/
        margin-bottom: 10px;
    }



    /*-----*/
}

    

